.k-divider {
  display: contents;
  width: auto;
  height: auto;
}

.k-divider-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.k-divider-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: min-content;
}

.k-divider-vertical__line {
  min-height: 12px;
  height: 100%;
  width: 1px;
  background-color: var(--k-color-neutral-400);
}

.k-divider-horizontal__line {
  height: 1px;
  background-color: var(--k-color-neutral-400);
}

.k-divider-horizontal__line--full {
  width: 100%;
}

.k-divider-horizontal__line--short {
  width: 21px;
}

.k-divider-horizontal__title * {
  margin: 0;
  color: var(--k-color-neutral-900);
  text-wrap: nowrap;
}